.container-class {
	overflow: scroll;
	scrollbar-width: none; /* For Firefox */
	-ms-overflow-style: none; /* For Internet Explorer 10+ */
}

.container-class::-webkit-scrollbar {
	display: none; /* For Chrome, Safari, and Opera */
}
